.service {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;

  @include respond(phone) {
    padding: 3rem;
  }

  .heading__secondary {
    font-size: 2.4rem;
    &:hover {
      transform: none;
      text-shadow: none;
    }
  }
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

figure {
  margin: 1rem auto;
}

.wp-block-button {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem!important;

  &:hover {
    transform: translateY(-2px);
  }

  a {
    text-decoration: none;
  }
}

ul {
  padding-left: 5rem;
}

.testimonials {
  background-size: cover;
  background-position: center;

  .story {
    margin-bottom: 3rem;
    background-color: rgba(0 , 0, 0, .99);
  }

}

.testimonial-card-container {
  position: relative;
  // margin-bottom: 10rem;

  .testimonial-card {
    width: 100%;
    .card-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .testimonial-title {
      font-weight: bold;
      margin: 1rem 0;
      font-size: 1.8rem;
      text-align: center;
    }
  }
  .testimonial-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 4rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 10%, rgba(transparent, .3) 100%);

    p {
      text-align: right;
      font-style: italic;
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    .testimonial-card-title {
      text-align: left;
      color: #fff;
      font-size: 2rem;
      &::after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        background-image: url(../images/quote-left.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 2.5rem;
        height: 2.5rem;
        opacity: .9;
      }
    }
    .testimonial-card-author {
      text-align: right;
    }
  }

}
