.card {
  //FUNCTIONALITY
  perspective: 115rem;
  position: relative;

  height: 52rem; /*fix for breaking the noraml flow*/

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;/*hides the back side of the div*/
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
      color: #000000;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &--2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &--3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  /* when we hover the card apply css to card__side */
  /* .card:hover .card__side */
  // &:hover &__side--front {
  //   transform: rotateY(-180deg);
  // }
  // &:hover &__side--back {
  //   transform: rotateY(0);
  // }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color-burn;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../images/about-1.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../images/about-2.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../images/about-3.jpg);
    }
  }

  &__heading {
    color: $color-white;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    /*if an element breaks into two then both the parts behave like separate elements having same styles*/
    -webkit-box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .95), rgba($color-secondary-dark, .95));
    }
    &--2{
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .95), rgba($color-primary-dark, .95));
    }
    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .95), rgba($color-tertiary-dark, .95));
    }
  }

  &__details {
    padding: 3rem;
    font-size: 1.2rem;
  }

  //BACK STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto; /*fix for breaking the noraml flow*/
    border-radius: .3rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }
    &__details {
      padding: 1rem 3rem;
    }

    /* when we hover the card apply css to card__side */
    /* .card:hover .card__side */
    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    //BACK STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
      text-align: center;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-only {
      font-size: 1.4rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
/**
 * persective make the div appear as if it is coming out of the palne towards the viewer
 * we have to apply perscepective in the parent div of element whose transform we are doing
 * lower the number of perspective more dramatic the effect is
 */

/**
 * while breaking the natural flow content either by using absolute positioning or float
 * we come out of the plane thus the parent div looses height
 * we need to use the clearfix to fix this in case of float
 * but there is no such things for positioning and hence we have to give the exact smae height
 * the parent div manually
 */

/**
 * blend mode of background are properties which defines how the different background images are blended
 */
