.ff-message-success {
  color: #fff!important;
}
.fluentform_wrapper_1 {
  button {
    margin-top: 2rem!important;
  }
}
.fluentform_wrapper_2 {
  .form__group {
    margin-bottom: 1rem!important;
  }
  button[type="submit"] {
    margin-top: 1rem!important;
  }
  input, select, textarea {
    padding: 1rem 2rem !important;
  }
}
