.blogs-page {
  .row {
    &:first-child {
      margin-top: 4rem;
    }
    &:last-child {
      margin-bottom: 4rem;
    }
    h2 {
      margin: 2rem 0;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      &:not(last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
