.single {
  .row {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .heading__primary {
      margin-bottom: 3rem;
    }
    .page__content {
      line-height: 1.4;
    }

    /*general elements*/
    h2 {
      margin: 2rem 0;
    }
    img {
      display: inline-block;
      margin: 1rem 0;
    }
    ul {
      margin-left: 4rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

  }
}
